.screen {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen .div {
  background-color: #ffffff;
  width: 375px;
  height: 812px;
  position: relative;
}

.screen .status-bar {
  position: absolute;
  width: 375px;
  height: 44px;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.screen .right-side {
  position: absolute;
  width: 67px;
  height: 11px;
  top: 17px;
  left: 294px;
}

.screen .battery {
  position: absolute;
  width: 24px;
  height: 11px;
  top: 0;
  left: 42px;
}

.screen .wifi {
  position: absolute;
  width: 15px;
  height: 11px;
  top: 0;
  left: 22px;
}

.screen .mobile-signal {
  position: absolute;
  width: 17px;
  height: 11px;
  top: 0;
  left: 0;
}

.screen .left-side {
  position: absolute;
  width: 54px;
  height: 21px;
  top: 12px;
  left: 21px;
}

.screen .password {
  display: flex;
  width: 327px;
  height: 40px;
  align-items: center;
  gap: 16px;
  padding: 8px 16px;
  position: absolute;
  top: 422px;
  left: 24px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid;
  border-color: #dfdfdf;
}

.screen .label {
  position: relative;
  flex: 1;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #828282;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 19.6px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.screen .email-ID {
  display: flex;
  width: 327px;
  height: 40px;
  align-items: center;
  gap: 16px;
  padding: 8px 16px;
  position: absolute;
  top: 374px;
  left: 24px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid;
  border-color: #dfdfdf;
}

.screen .element-button-compact {
  display: flex;
  width: 327px;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0px 16px;
  position: absolute;
  top: 470px;
  left: 24px;
  background-color: #2d5fb4;
  border-radius: 8px;
}

.screen .text-wrapper {
  position: relative;
  width: fit-content;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 19.6px;
  white-space: nowrap;
}

.screen .text-wrapper-2 {
  top: 524px;
  left: 125px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #828282;
  position: absolute;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.6px;
  white-space: nowrap;
}

.screen .text-wrapper-3 {
  top: 552px;
  left: 161px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  position: absolute;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.6px;
  white-space: nowrap;
}

.screen .home-indicator {
  position: absolute;
  width: 134px;
  height: 5px;
  top: 799px;
  left: 122px;
  background-color: #000000;
  border-radius: 100px;
}

.screen .image {
  position: absolute;
  width: 231px;
  height: 117px;
  top: 232px;
  left: 72px;
  object-fit: cover;
}

:root {
  --variable-collection-1: rgba(98, 83, 162, 1);
  --variable-collection-2: rgba(149, 116, 181, 1);
  --variable-collection-3: rgba(202, 159, 196, 1);
  --variable-collection-4: rgba(247, 224, 225, 1);
}

